.spacer{
  flex: 1 1 auto;
}

span{
  font-weight: bold;
  font-size: 2rem;
}

h2{
  text-align: center;
  margin-top: 50px;
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

mat-toolbar{
  background-color: #243b55;
}
