<div class="form-container">
  <h2>Qual ferramenta você vai adicionar?</h2>
<form (ngSubmit)="adicionarFerramenta()">
  <div class="tool-box">
    <input matInput placeholder="Nome da Ferramenta" [(ngModel)]="novaFerramenta.nome" name="nome" required>
  </div>
  <div class="tool-box">
    <input matInput placeholder="Descrição da Ferramenta" [(ngModel)]="novaFerramenta.descricao" name="descricao" required>
  </div>
  <div class="button-container">
    <button mat-raised-button color="primary" type="submit"><mat-icon>library_add</mat-icon>Adicionar</button>
    <button mat-raised-button color="accent" (click)="voltarParaLista()"><mat-icon>keyboard_return</mat-icon>Voltar</button>
    </div>
</form>
</div>
